p {
    color: blue; /* 15. ლურჯი ტექსტის ფერი */
    font-size: 20px; /* 15. ტექსტის ზომა 20px */
}

h1 {
    font-size: 10px; /* 16. ტექსტის ზომა 10px */
}

nav {
    text-align: center; /* 17. ცენტრში გასწორებული */
}

footer {
    text-align: center; /* 20. footer ტექსტის ცენტრში გასწორება */
}
